<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap.lt-md="0rem"
  fxLayoutGap="1rem"
  fxLayoutAlign="start center"
  fxLayoutAlign.lt-md="start start"
>
  <mat-form-field appearance="outline">
    <mat-label>Betræk</mat-label>
    <mat-select value="classic">
      <mat-option value="classic">Classic Læder</mat-option>
      <mat-option value="soft">Soft Læder</mat-option>
      <mat-option value="elegance">Elegance Læder</mat-option>
      <mat-option value="fabric">Stof</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Farve</mat-label>
    <mat-select value="black">
      <mat-option value="black">Sort</mat-option>
      <mat-option value="brown">Brun</mat-option>
      <mat-option value="red">Rød</mat-option>
    </mat-select>
  </mat-form-field>
</div>
