:host {
  display: grid;
  justify-items: center;
}

section {
  display: grid;
  padding: 1rem;
  min-height: calc(100% - (56px + 2rem));
  grid-gap: 1rem;
  max-width: 1024px;
  grid-template:
    " heading    heading " auto
    " body       img1    " 256px
    " body       img2    " 256px
    / 3fr        2fr;
}

@media only screen and (max-width: 769px) {
  section {
    grid-template:
    " heading heading " auto
    " body    body    " auto
    " img1    img2    " 256px
    / 1fr     1fr;
  }
}

@media only screen and (max-width: 450px) {
  section {
    grid-template:
    " heading " auto
    " body    " auto
    " img1    " 256px
    " img2    " 256px
    / 1fr;
  }
}

h1 {
  grid-area: heading;
  margin: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-bottom: 0.5rem;
}

main {
  grid-area: body;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.32);
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}
