<img (swipeRight)="previous()" (swipeLeft)="next()" [src]="images[currentIndex]" />

<button mat-icon-button class="close" (click)="dialogRef.close()">
  <mat-icon>close</mat-icon>
</button>

<button
  *ngIf="currentIndex !== images.length - 1"
  mat-icon-button
  class="toggle next"
  (click)="next()"
>
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>

<button *ngIf="currentIndex !== 0" mat-icon-button class="toggle previous" (click)="previous()">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
