:host {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
}

img {
  max-width: 95vw;
  max-height: 90vh;
  object-fit: contain;
}

.close {
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.toggle {
  color: white;
  position: absolute;
}

.next {
  top: 50%;
  right: 0.5rem;
}

.previous {
  top: 50%;
  left: 0.5rem;
}
