// Variables
$nav-bar-height: 56px;
$nav-bar-bg: #555555;
$nav-bar-hover: #444444;

// Nav bar styling
header {
    background-color: $nav-bar-bg;
    color: white;
    height: $nav-bar-height;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.36);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.spacer {
  height: $nav-bar-height;
  background-color: rgba(0,0,0,0);
}

.logo, nav {
  flex: 1 1 auto;
}

.logo {
  padding-left: 1rem;
}

nav, .menu-btn {
  margin-right: 1rem;
}

// Navigation options
nav > div, .mobile-nav > div {
  display: grid;
  place-content: center;
  background-color: $nav-bar-bg;
  border-radius: 0px;
  overflow: hidden;

  &:hover {
    background-color: $nav-bar-hover;
  }
}

// Menu option styling
nav > div {
  cursor: pointer;
  text-align: center;
  height: $nav-bar-height;
  padding: 0rem 2rem;
}

.mobile-nav {
  position: fixed;
  top: $nav-bar-height;
  width: 100vw;
}

.mobile-nav > div {
  height: 48px;
  width: 100vw;
}

.mobile-nav > div:last-child {
  box-shadow: 0 12px 12px -12px rgba(0,0,0,0.67);
}
